<nav class="navbar navbar-expand-large btn-dark o-visible" aria-label="Buttons">
    <img src="/assets/BookstoreAdminLogo.png" alt="BookstoreAdminLogo">
    <ul class="nav">
      <li class="nav-item ">
        <a class="nav-link" class="btn btn-success  btn-large  mr-3" routerLink="AdminPage"><i class="fa fa-list"
            aria-hidden="true"></i>Admin Page</a>
            <!--The below part is for user home page
            which should be directed in after user login-->
            <a class="nav-link" class="btn btn-success  btn-large  mr-3" routerLink="UserHome"><i class="fa fa-list"
              aria-hidden="true"></i>User Home</a>
  
      </li>
    </ul>
  </nav>
