<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" routerLink="/ListCategories"><i class="fa fa-list"
                aria-hidden="true"></i>Category List</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/ListBooks"><i class="fa fa-list"
            aria-hidden="true"></i>Books List</a>
        </li>
      </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" id="lo">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>