<p>Edit category </p>
<div class="container">
    <form #updateCategoryForm="ngForm" (ngSubmit)='onUpdateCat(updateCategoryForm.value)'>

        <div class="form-group">
            <label>Name:</label> &nbsp;
            <input required type="text" #name='ngModel'style="text-transform: uppercase;" name="categoryName" ngModel pattern="[a-zA-Z ]*"
                [ngClass]="{'is-invalid':name.invalid && name.touched,'is-valid':name.valid}" class="form-control-sm">
            <div *ngIf="name.errors" class="invalid-feedback">
                <div [hidden]='!name.errors.required'>
                    Enter Category Name
                </div>
                <div *ngIf='name.errors.pattern'>Name should contain alpahbets only</div>
            </div>
        </div>
        <div class="row">
            <input [disabled]="updateCategoryForm.invalid" type="submit" value="Save" class="btn btn-success">
            <button routerLink="/ListCategories" class="btn btn-secondary">Cancel</button>
        </div>
    </form>
</div>