<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" routerLink="/AllBooks"><i class="fa fa-list"
                aria-hidden="true"></i>All Books </a>
        </li>
        <li class="nav-item active" *ngFor="let c of cat">
          <a class="nav-link btn" (click)="Category(c.categoryId)"><i class="fa fa-list"
            aria-hidden="true"></i>{{c.categoryName}}</a>
        </li>
      </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <form class="form-inline" action="/action_page.php">
                <input class="form-control mr-sm-2" type="text" placeholder="Search by category" [(ngModel)]="category" [ngModelOptions]="{standalone: true}">
                <button class="btn btn-success" type="submit" (click)="display()">Search</button>
              </form>
        </li>
      </ul>
    </div>
  </nav>